@media screen and (max-width: 375px) {


    .footer {
        background-color: #0D171D;

        &--list {

              padding-top: 94px;
                padding-left: 21px;
                padding-right: 70px;
                padding-bottom: 116px;
           
            &__morty {
                background-color: #DAF836;
                padding: 12px 24px 12px 24px;
                border-radius: 25px;
                width: 97px;
                height: 42px;
                font-weight: 600;
                font-family: Montserrat;
                position: absolute;

                rotate: 32deg;
                margin-left: 52px;
                margin-bottom: 200px;
                
            }

            &__rikc {
                background-color: #A1D737;
                border-radius: 25px;
                padding: 12px 24px 12px 24px;
                width: 120px;
                height: 46px;
                font-weight: 600;
                font-family: Montserrat;

               
               
            }
        }

    }




    



}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1870px) {}