* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* ===== Filters ===== */
.filter-bar {
  display: flex;
  justify-content: center;
  gap: 72px;
  padding: 30px;
}

.input-field {
  background-color: rgba(161, 215, 55, 1) !important;
}

.input-field, .select-field {
  font-size: 14px;
  padding: 16px 24px;
  width: 233px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #000;
  background: transparent;
  outline: none;
}

.input-field::placeholder {
  color: #000;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px;
}

/* ===== Episode Card ===== */
.episode-card {
  border: 2px solid rgba(161, 215, 55, 1);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.episode-card:hover {
  transform: scale(1.03);
}

.episode-bg {
  height: 200px;
  background: black;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.9);
  background-image: url(../images/image23.png);
  background-size: cover;
}

.episode-info {
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 2;
}

.episode-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: rgba(161, 215, 55, 1);
}

.episode-info p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #ccc;
}

/* ===== Buttons ===== */
#loadMore {
  display: block;
  margin: 40px auto;
  padding: 12px 28px;
  border-radius: 50px;
  border: none;
  background: rgba(161, 215, 55, 1);
  cursor: pointer;
  font-weight: 800;
}

/* ===== Popup Window ===== */
.popup-window {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 9999;
}

.popup-window.visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-box {
  background: #1a1c20;
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 700px;
  position: relative;
  animation: fadeIn 0.4s ease;
}

.popup-box-border {
  border: 2px solid rgba(161, 215, 55, 1);
  border-radius: 12px;
  padding: 20px;
}

.popup-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: rgba(161, 215, 55, 1);
  cursor: pointer;
}

.popup-box h2 {
  color: rgba(161, 215, 55, 1);
  margin-top: 0;
}

.date {
  color: #aaa;
  font-size: 14px;
}

.sub-title {
  margin-top: 20px;
  font-size: 16px;
  color: #eee;
}

.popup-characters-list {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  color: white;
}


.character-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.character-row img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
