<div class="api">
    <form class="api--form">
        <label for="search" class="api--form__label">Name</label>
        <input type="search" id="search" class="api--form__input" placeholder="Enter name">
    </form>

   <ul class="api--ul">

    <li class="api--ul__li">
        <p class="api--ul__text">Status</p>
        <button class="api--ul__bth dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Alive</button>
        <ul class="dropdown-menu api-dropdown-menu">
            <li><a class="dropdown-item" value="status" href="#">Alive</a></li>
          <li><a class="dropdown-item" value="status" href="#">Dead</a></li>
          <li><a class="dropdown-item" value="status" href="#">Unknow</a></li>
        </ul>
    </li>


    <li class="api--ul__li">
        <p class="api--ul__text">Species</p>
        <button class="api--ul__bth dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Human</button>
        <ul class="dropdown-menu api-dropdown-menu">
            <li><a class="dropdown-item" value="status" href="#">Human</a></li>
          <li><a class="dropdown-item" value="status" href="#">Alien</a></li>
          <li><a class="dropdown-item" value="status" href="#">Mythological Creature</a></li>
          <li><a class="dropdown-item" value="status" href="#">Humanoid</a></li>
          <li><a class="dropdown-item" value="status" href="#">Animal</a></li>
          <li><a class="dropdown-item" value="status" href="#">Cronenberg</a></li>
          <li><a class="dropdown-item" value="status" href="#">Poopybutthole</a></li>
          <li><a class="dropdown-item" value="status" href="#">Robot</a></li>
          <li><a class="dropdown-item" value="status" href="#">Disease</a></li>
        </ul>
    </li>


    <li class="api--ul__li">
        <p class="api--ul__text">Type</p>
        <button class="api--ul__bth dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Parasite</button>
        <ul class="dropdown-menu api-dropdown-menu">
            <li><a class="dropdown-item" value="status" href="#">Parasite</a></li>
          <li><a class="dropdown-item" value="status" href="#">Human with ants in his eyes</a></li>
          <li><a class="dropdown-item" value="status" href="#">Superhuman</a></li>
          <li><a class="dropdown-item" value="status" href="#">Genetic</a></li>
          <li><a class="dropdown-item" value="status" href="#">Fish-Person</a></li>
          <li><a class="dropdown-item" value="status" href="#">Cromulon</a></li>

        </ul>
    </li>

    <li class="api--ul__li">
        <p class="api--ul__text">Gender</p>
        <button class="api--ul__bth dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">All</button>
        <ul class="dropdown-menu api-dropdown-menu">
            <li><a class="dropdown-item" value="status" href="#">All</a></li>
          <li><a class="dropdown-item" value="status" href="#">Female</a></li>
          <li><a class="dropdown-item" value="status" href="#">Male</a></li>
          <li><a class="dropdown-item" value="status" href="#">Genderless</a></li>
          <li><a class="dropdown-item" value="status" href="#">Unknow</a></li>
        </ul>
    </li>
   </ul>
</div>