 <section class="character-filtration">
  <div class="container">  
   <div class="character_filtration-container">

  <div>
    <h2 class="character-title">Name</h2>
    <div class="character-search">
      <input type="text" class="character-input" placeholder="Enter name">
    </div>
  </div>

  <div>
    <h2 class="character-title">Status</h2>
    <select>
      <option></option>
      <option>Alive</option>
      <option>Dead</option>
      <option>Unknown</option>
    </select>
  </div>

  <div>
    <h2 class="character-title">Species</h2>
    <select>
      <option></option>
      <option>Human</option>
      <option>Alien</option>
      <option>Mythological Creature</option>
      <option>Humanoid</option>
      <option>Cronenberg</option>
      <option>Poopybutthole</option>
      <option>Robot</option>
      <option>Disease</option>
    </select>
  </div>

  <div>
    <h2 class="character-title">Type</h2>
    <select>
      <option></option>
      <option>Parasite</option>
      <option>Human with ant...</option>
      <option>Superhuman</option>
      <option>Genetic...</option>
      <option>Fish-Person</option>
      <option>Cromulon</option>
      
      
      
    </select>
  </div>

  <div>
    <h2 class="character-title">Gender</h2>
    <select>
      <option></option>
      <option>All</option>
      <option>Male</option>
      <option>Female</option>
      <option>Genderless</option>
      <option>Unknown</option>
    </select>
  </div>

</div>

    <ul id="character-list" class="character-list"></ul>
    <button type="button" class="load-more">Load more</button>
  </div>
  </div>
</section>

<!-- 🔽 🔽 🔽 Ось ТУТ підключається модальне вікно -->
<!-- Modal Window -->
<div id="characterModal" class="char-modal hidden">
  <div class="char-modal-content">
    <span class="char-close-btn" id="charCloseModal">&times;</span>
    <div class="char-modal-body">
      <div class="char-left">
        <img id="charImage" alt="Character" />
        <div class="char-info-box">
          <p><b>Status:</b> <span id="charStatus"></span></p>
          <p><b>Species:</b> <span id="charSpecies"></span></p>
          <p><b>Gender:</b> <span id="charGender"></span></p>
          <p><b>Origin:</b> <span id="charOrigin"></span></p>
          <p><b>Location:</b> <span id="charLocation"></span></p>
          <p><b>Type:</b> <span id="charType"></span></p>
        </div>
      </div>
      <div class="char-right">
        <h2>Episodes</h2>
        <ul id="episodesList"></ul>
      </div>
    </div>
  </div>
</div>
<!-- 🔼 🔼 🔼 Кінець модального вікна -->
<script type="module" src="./js/characters.js"></script>

