 <section class="character-filtration">
  <div class="container">  
   <div class="character_filtration-container">

  <div>
    <h2 class="character-title">Name</h2>
    <div class="character-search">
      <input type="text" class="character-input" placeholder="Enter name">
    </div>
  </div>

  <div>
    <h2 class="character-title">Status</h2>
    <select>
      <option></option>
      <option>Alive</option>
      <option>Dead</option>
      <option>Unknown</option>
    </select>
  </div>

  <div>
    <h2 class="character-title">Species</h2>
    <select>
      <option></option>
      <option>Human</option>
      <option>Alien</option>
      <option>Mythological Creature</option>
      <option>Humanoid</option>
      <option>Cronenberg</option>
      <option>Poopybutthole</option>
      <option>Robot</option>
      <option>Disease</option>
    </select>
  </div>

  <div>
    <h2 class="character-title">Type</h2>
    <select>
      <option></option>
      <option>Parasite</option>
      <option>Human with ant...</option>
      <option>Superhuman</option>
      <option>Genetic...</option>
      <option>Fish-Person</option>
      <option>Cromulon</option>
      
      
    </select>
  </div>

  <div>
    <h2 class="character-title">Gender</h2>
    <select>
      <option></option>
      <option>All</option>
      <option>Male</option>
      <option>Female</option>
      <option>Genderless</option>
      <option>Unknown</option>
    </select>
  </div>

</div>

    <ul id="character-list" class="character-list"></ul>
    <button type="button" class="load-more">Load more</button>
  </div>
  </div>
</section>
<script type="module" src="./js/characters.js"></script>