 <div class="form">
         <form class="search-form" id="search-form">
         <input class="form-text" type="text" name="episodeName" placeholder="Enter name"/>
         </form>
        </div>
        <div class="dropdown">
    <button class="dropdown-toggle">All season</button>
    <ul class="dropdown-menu">
      <li>All season</li>
      <li>1 season</li>
      <li>2 season</li>
      <li>3 season</li>
      <li>4 season</li>
      <li>5 season</li>
      <li>6 season</li>
    </ul>
  </div>