<p class="codee">Name</p>
<div class="form">
  <form class="search-form" id="search-form">
    <input class="form-text" type="text" name="episodeName" placeholder="Enter name"/>
  </form>

   <p class="codee">Episode code</p>
  <div class="dropdown" id="dropdown">
    <button class="dropdown-toggle" id="dropdownBtn">All season</button>
    <ul class="dropdown-menu" id="menu">
      <li class="active">All season</li>
      <li data-season="1">1 season</li>
      <li data-season="2">2 season</li>
      <li data-season="3">3 season</li>
      <li data-season="4">4 season</li>
      <li data-season="5">5 season</li>
      <li data-season="6">6 season</li>
    </ul>
  </div>
</div>
