<footer class="footer">
    <div class="container_body">
        <div class="container">

            <img src="/images/rik_and_morty.png" class="footer--image">

            <ul class="footer--list">
                <li class="footer--list__morty">Morty</li>
                <li class="footer--list__rikc">Rick and</li>
            </ul>

            <ul class="footer--lists">
                <li class="footer--lists__link">Characters</li>
                <li class="footer--lists__link">Episodes</li>
            </ul>
        </div>
    </div>
</footer>