<footer class="footer">
    <div class="container_body">
        <div class="container">

            <!-- <img src="/images/rik.png" class="footer--image"> -->

            <ul class="footer--list">
                <li class="footer--list__morty">Morty</li>
                <li class="footer--list__rikc">Rick and</li>
            </ul>

            <div class="footer--div">
                <ul class="footer--lists">
                    <li class="footer--lists__link">Characters</li>
                    <li class="footer--lists__link">Episodes</li>
                </ul>

                <ul class="footer--ul">
                    <li class="footer--ul__link"><img class="footer--ul__image" src="/images/facebook.png"></li>
                    <li class="footer--ul__link"><img class="footer--ul__image" src="/images/twitter.png"></li>
                    <li class="footer--ul__link"><img class="footer--ul__image" src="/images/instagram.png"></li>
                </ul>

            </div>
        </div>
        <p class="footer--text">Privacy Policy Public Offering Agreement</p>
    </div>
</footer>