<section class="characters-section">
    <div>
  <div class="characters-content">
    <h1 class="characters-title">Episodes</h1>
    <p class="characters-text">
     With a comprehensive guide to every episode, you can relive your favorite moments and discover new ones. From the bizarre and hilarious to the emotional and thought-provoking, our episode guide covers it all. 
  </div>
    <a href="index.html" class="characters-button">Back home</a>
</div>
  <div class="characters-visual">
    <div class="character-shadow"></div>
    <img src="../images/episodes.png" alt="Rick" class="character-image">
  </div>
</section>
