<section class="rm-hero">
  <div class="rm-hero__content">
    <p class="rm-hero__text">
      If you're a fan of Rick and Morty, you don't want to miss out on our app!
      <br>Start exploring the endless possibilities of Rick and Morty!
    </p>
  </div>

  <div class="rm-hero__center">
    <div class="rm-hero__blur"></div>

    <img src="../images/ufo.png" alt="Rick and Morty ship" class="rm-hero__ship">

    <img src="../images/logo.png" alt="Rick and Morty Logo" class="rm-hero__logo">
  </div>
</section>
