<section class="characters" id="characters">
  <div class="container">
    <div>
      <h2><span class="main">Main</span> characters</h2>
    </div>
    <div class="character-wrap">
      <div class="character-info">
        <h3 data-img="images/rick.png" class="active">Rick Sanchez</h3>
        <p>
          Rick Sanchez is a brilliant but deeply troubled scientist and one of the main characters in the animated TV
          show
          Rick and Morty.
        </p>

        <h3 data-img="images/morty.png">Morty Smith</h3>
        <p>
          Morty Smith is the other main character in the animated TV show Rick and Morty, and Rick’s grandson.
        </p>

        <h3 data-img="images/summer.png">Summer Smith</h3>
        <p>
          Summer Smith is Morty’s older sister and one of the main characters in Rick and Morty. Initially portrayed as
          a
          typical teenager, she develops into a more complex and independent character, who is intelligent, resourceful,
          and fiercely loyal to her family.
        </p>

        <h3 data-img="images/beth.png">Beth Smith</h3>
        <p>
          Beth is a horse surgeon, and as Rick’s daughter, she is intelligent if sometimes cold. She is voiced by Sarah
          Chalke.
        </p>

        <h3 data-img="images/jerry.png">Jerry Smith</h3>
        <p>
          Jerry is the husband of Beth Smith, the father of Summer and Morty, and the son-in-law of Rick Sanchez.
        </p>
      </div>
      <div class="character-image">
        <img id="character-img" alt="Character">
      </div>
    </div>
  </div>
  </div>
</section>